extends ../layout.jade
block contenido
	script(src="/socket.io/socket.io.js")
	script(src="/static/Chat.js")
	input(type="hidden" value="#{user}" id="username")
	.container
	.row.center-block
		.col-md-12
			.panel.panel-primary
				#accordion.panel-heading
					span#User.glyphicon.glyphicon-comment
					|  Chat #{user}
					.btn-group.pull-right
						a.btn.btn-default.btn-xs(type='button', id='collapseId',data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
							span.glyphicon.glyphicon-chevron-down
				#collapseOne.panel-collapse.collapse
					.panel-body
						.header
							ul#ulChat.chat
						.panel-footer
							.input-group
								input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
								span.input-group-btn
									button#btn-chat.btn.btn-warning.btn-sm
										| Send

